.header .margins {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.6rem;
}

.header i {
  padding-right: 0.5rem;
}

.margins a img {
  height: 6rem;
}

.margins a {
  display: flex;
  align-items: center;
  font: 700 1.6rem 'Poppins', sans-serif;
}

h2 {
  font: 700 3.2rem 'Poppins', sans-serif;
}

h2 span {
  color: var(--color-medium);
  font-family: 'DM Sans', sans-serif;
}
