/* You can add global styles to this file, and also import other style files */

* {
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:root {
  font-size: 62.5%;
  /*==========MEASURES==========*/
  --height: 4.5rem;
  --margin-width: 6.4vw;
  /*==========MEASURES==========*/

  /*==========COLORS==========*/
  --color: 44;
  --color-light: hsl(var(--color), 85%, 75%, 1);
  --color-medium: hsl(var(--color), 85%, 55%, 1);
  --color-dark: hsl(var(--color), 85%, 10%, 1);
  --ice-white: hsl(0, 0%, 98%, 1);
  --white: hsl(0, 0%, 100%, 1);
  --gray: #e4e4e4;
  --text-gray: hsl(0, 0%, 46%, 1);
  /*==========COLORS==========*/
}

.margins {
  margin: 0 2.3rem;
}

.v-middle {
  vertical-align: middle;
}

.yellow-light {
  color: var(--color-light);
}

.yellow-medium {
  color: var(--color-medium);
}

.yellow-dark {
  color: var(--color-dark);
}

.white {
  color: var(--white);
}
